
BOOK DETAILS

<ul>
  <br><br>
  <li><b>{{result.title}}</b></li>
  <br>
  <img src="{{result.thumbnail}}" alt={{result.title}}>
  <br>
  <li>Written by: {{result.authors}}</li>
    <li>Published: {{result.publishedDate}}</li>
  <li>Description: {{{result.description}}}</li>
  <br><br>
  <a href="/find-book/?book={{result.title}}">Back to search results</a><br>
  <a id= "save-book" action = "/book-details" method="POST" href="">Add To Favorites</a>
</ul>
