<p class="details">Book Details</p>

<div class="details-container">
  <div>
    <img class="book-title" src="{{result.thumbnail}}" alt={{result.title}}>
  </div>
  <p class= >{{result.title}}</p>
  <div>
    <p>Written by: {{result.authors}}</p>
    <p>Published: {{result.publishedDate}}</p>
    <p>Description: {{{result.description}}}</p>
  </div>

</div>
<a class="badge badge-secondary" href="/find-book/?book={{result.title}}">Back to search results</a><br>
<a class="badge badge-secondary" id="save-book" action="/book-details" method="POST" href="">Add To Favorites</a>