<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/profile_style.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>


  <div class="dashboard-body">
    <div id="db-left-side">
      <div id="user-profile-view">

        <h4><b>{{user.firstname}}</b></h4>
        <div id="profilepicture">
          <img height="100px" src="{{user.picture}}" onerror=" this.src='https://img.bfmtv.com/c/1000/600/988/7452a0ef3e5805e978ac96cb6edb1.jpeg'">
        </div>

        {{!-- I was trying to show a default picture if a user doesn't have one. this doesn't work yet though! --}}
        {{!-- {{#unless user.picture}}
        <script>$("
            #profilepicture").hide()</script>
        <div id="profilepicturedefault">
          <img src="https://img.bfmtv.com/c/1000/600/988/7452a0ef3e5805e978ac96cb6edb1.jpeg">
        </div>
        {{/unless}} --}}

        <p>{{user.description}}</p>


        {{#unless user.firstname}}
        <p>Anonymous</p>
        {{/unless}}

        {{#unless user.description}}
        <p>I'm {{user.firstname}} and I love books.</p>
        {{/unless}}

        <ul>
          <li><a href="/editprofile"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
          <li><a href="/find-book"><span class="glyphicon glyphicon-book"></span>Find Books</a></li>
          <li><a href="/find-user"><span class="glyphicon glyphicon-plus"></span>Find Users</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-road"></span> Logout</a></li>
        </ul>
      </div>
    </div>

    <div id="db-middle">
      <div id="middle-top">
        <a href="/find-book"><button id="findbook-button">Find Books</button></a>
        <a href="/find-user"><button id="findbook-button">Find Users</button></a>
      </div>

      <div class="Reading-List">
        <span class="glyphicon glyphicon-heart">
          <h2>Reading List </h2>
        </span>
        <div class="heading">
          <h3><b>Books that I plan to read</b></h3>
        </div>

        <div class="books-list">
          {{#each user.favorites}}
          <div class="book">
            <img src="{{this.picture}}">
            <h4><b><a href="/book-details/{{this.id}}/{{this.title}}">{{this.title}}</a></b></h4>
          </div>
          {{/each}}
        </div>
      </div>


      <div>
        <div class="Library-List">

          <span class="glyphicon glyphicon-bookmark">
            <h2>My Library </h2>
          </span>
          <div class="heading">
            <h3><b>Books that I have read</b></h3>
          </div>
          <div class="books-list">
            {{#each user.library}}
            <div class="book">
              <h4>{{this.title}}</h4>
              <img src="{{this.picture}}">
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div id="db-right-side">
      <h2>What are your friends reading?</h2>
      <div id="friends-activity">

        {{!-- {{#each completeObject._friends}}   START HENDRICKS CODE
        <div class="friend">
          <h4>{{this.firstname}} is reading</h4>
          {{#each this.googlePopulatedFavorites}}
            <img class="item2" src="{{this.thumbnail}}" alt="{{this.title}}">
          {{/each}}
          {{!-- <img src="https://s2982.pcdn.co/wp-content/uploads/2014/08/HP_hc_new_1.jpeg"> --}}
        </div>
        {{/each}}

      </div>
    </div>   END HENDRICKS CODE --}}





</body>

<script src="/javascripts/script.js"></script>

</html>