<div class="search-container">
  <form class=" form-control-lg" action="/find-book" method="GET">
    <title for="">Find a book</title><br>
    <div class="input-group input-group-lg ">
      <div class="input-group-prepend input-group-lg">


        <div class="form-check form-check-inline">
          <input name="filter" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">Title</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="filter" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">Author</label>
        </div>
        <div class="form-check form-check-inline">
          <input name="filter" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">Categorie</label>
        </div>


        <input class="form-control" id="form" type="text" name="book" placeholder="Harry Potter...">
        <button id="searchBtn" class="btn btn-outline-success btn-lg" type="submit">SEARCH</button>
      </div>
    </div>
  </form>





</div>
<p id="results">Results:</p>
<hr>

{{#each results}}
<div class="results-container">
  <div>
    <a href="/book-details/{{this.id}}/{{this.title}}"><img src="{{this.thumbnail}}" alt={{this.title}}> </a>
  </div>
  <div class="book-detail">
    <p class="result-title">{{this.title}}</p>
    <p class="result-subtitle"><i>{{this.subtitle}} </i></p>
    <p class="result-authors">Author: {{this.authors}}</p>
    <p class="result-categories">Categorie: {{this.categories}}</p>
  </div>

  <div class="button-action">
    {{!-- Details Button --}}
    <a class="btn btn-outline-secondary" href="/book-details/{{this.id}}/{{this.title}}">Details</a>
    {{!-- Like Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?favorite=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-heart"></span>
        Like</button>
    </form>
    {{!-- Read Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?read=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-bookmark"></span>
        Read</button>
    </form>
  </div>
</div>
<hr class="result-break">
{{/each}}



<script src="/javascripts/script.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>