<div class="search-container">
  <form class=" form-control-lg" action="/find-book" method="GET">
    <label for="">Find a book</label><br>
    <div class="input-group input-group-lg ">
      <div class="input-group-prepend input-group-lg">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">Title</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Author</a>
          <a class="dropdown-item" href="#">Genre</a>
        </div>
        <input class="form-control" id="form" type="text" name="book" placeholder="Harry Potter...">
        <button id="searchBtn" class="btn btn-outline-success btn-lg" type="submit">SEARCH</button>
      </div>
    </div>
  </form>
</div>
<p id="results">Results:</p>
<hr>



{{#each results}}
<div class="results-container">
  <div>
    <img src="{{this.thumbnail}}" alt={{this.title}}>
  </div>
  <div class="book-detail">
    <p class="result-title">{{this.title}}</p>
    <p class="result-subtitle"><i>{{this.subtitle}} </i></p>
    <p class="result-authors">Author: {{this.authors}}</p>
    <p class="result-categories">Categorie: {{this.categories}}</p>
  </div>
  <div>
    <a class="book-details badge badge-secondary" href="/book-details/{{this.id}}">More Details</a>
  </div>
</div>
<hr class="result-break">
{{/each}}