<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/user_style.css" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<title>User Details</title>

<br><br><br>
<div class="results-container">
  <div id="userpicture">
    <a> <img height=150px src="{{foloweeResults.picture}}" alt={{foloweeResults.firstname}} {{foloweeResults.lastname}}>
    </a>
  </div>
  <div>
    {{#if foloweeResults.firstname}}
    <h2><b>{{foloweeResults.firstname}} {{foloweeResults.lastname}}</b></h2>
    {{#if foloweeResults.description}}
    <a class="result-subtitle">About me:</a>
    <br>
    <a class="result-subtitle">{{foloweeResults.description}}</a>
    {{/if }}
    <br><br>
    <form action="/user-details/{{foloweeResults.id}}/{{foloweeResults.firstname}}" method="post">
      <button type="submit" class="btn btn-outline" id="follow-user"><span class="glyphicon glyphicon-star"></span>
        Follow {{foloweeResults.firstname}}? </button>
    </form>
    <br><br>
    
    {{/if}}
  </div>
</div>
<br><
<div class="results-user-book-title ">
  <h4><b>Books that I plan to read:</b></h4>
</div>
<br>
{{#each foloweeResults.favorites}}
<div class="results-container">
  <div>
    <a href="/book-details/{{this.id}}/{{this.title}}"><img src="{{this.picture}}" alt={{this.title}}> </a>
  </div>
  <div class="book-detail">
    <p class="result-title">{{this.title}}</p>
  </div>
  <div class="button-action">
    {{!-- Details Button --}}
    <a class="btn btn-outline-secondary" href="/book-details/{{this.id}}/{{this.title}}">Details</a>
    {{!-- Like Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?favorite=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-heart"></span>
        Like</button>
    </form>
    {{!-- Read Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?read=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-bookmark"></span>
        Read</button>
    </form>
  </div>
</div>
<hr class="result-break">
{{/each}}

<br><br><br>

<div class="results-user-book-title ">
  <h4><b>Books that I read before:</b></h4>
</div>
<br>
{{#each foloweeResults.library}}
<div class="results-container">
  <div>
    <a href="/book-details/{{this.id}}/{{this.title}}"><img src="{{this.picture}}" alt={{this.title}}> </a>
  </div>
  <div class="book-detail">
    <p class="result-title">{{this.title}}</p>
  </div>
  <div class="button-action">
    {{!-- Details Button --}}
    <a class="btn btn-outline-secondary" href="/book-details/{{this.id}}/{{this.title}}">Details</a>
    {{!-- Like Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?favorite=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-heart"></span>
        Like</button>
    </form>
    {{!-- Read Button --}}
    <form action="/book-details/{{this.id}}/{{this.title}}?read=1" method="post">
      <button type="submit" class="btn btn-outline" id="save-book"><span class="glyphicon glyphicon-bookmark"></span>
        Read</button>
    </form>
  </div>
</div>
<hr class="result-break">
{{/each}}




<script src="/javascripts/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  